<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/main.css" rel="stylesheet" text="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
        <script src="/static/main.js"></script>
        <title>EreDate</title>
      </head>