<footer>
    <nav>
        <ul>
            <li><a href="/logout"><i class="fas fa-heart fa-3x"></i></a></li>
            <li><a href="/logout"><i class="fas fa-user-circle fa-3x"></i></a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt fa-3x"></i></a></li>
        </ul>
    </nav>
</footer>
</html>