<%- include ('../partials/head') %>

<%- include ('../partials/header') %>

  <body>
    <h1>Een andere pagina</h1>
    <img src="static/images/roene.jpg" alt="This is me">
    <p>Dit ben ik in het Chelsea stadion. <a href="https://www.youtube.com/watch?v=dv_jSgis7KI" target="_blank">Bekijk de video op AT5</a></p>
  </body>