<%- include ('../partials/head') %>

<body>
<%- include ('../partials/header') %>

  <main>
    <p>Welkom op EreDate, de datingapp voor alle suppoters van de 18 Eredivisie clubs om een date te vinden.
      Om gebruik te maken van de app moet je inloggen of een account registereren. 
    </p>
    <a class="button" href="/login">Inloggen</a>
    <a class="button" href="/sign-up">Registereren</a>
  </main>

<%- include ('../partials/footer') %>
</body>