<%- include ('../partials/head') %>

<%- include ('../partials/header') %>

<body>
  <section>
    <p>Welkom op EreDate, de datingapp voor alle suppeters van de 18 Eredivisie clubs om een date te vinden.
      Om gebruik te maken van de app moet je inloggen of een account registereren. 
    </p>
    <a href="">Inloggen</a>
    <a href="/sign-up">Registereren</a>
  </section>
</body>