/* =============================== DEFAULT ============================== */
* {
    margin: 0;
    font-family: 'Lalezar';
}

html {
    height: 100%;
}

body {
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative;
    background-image: url('../static/images/background.jpg');
	background-size: cover;
	background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

body::after { 
    content:''; 
    display:block; 
    height:100px; 
}

/* =============================== HEADER ============================== */
header {
    background-color: #ecf0f1;
    height: 3.5em;
}

header img {
    width: 10%;
    margin-top: -23px;
    margin-left: 5px;
}

/* =============================== TEXT ============================== */
h1 {
    color: #000000;
    text-align: center;
    height: 50%;
}

/* =============================== BODY ============================== */
body > main {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

body > section {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 0;
	margin: 20px auto;
}

/* =============================== FORM ============================== */
form {
    text-align: center;
}

form > label {
	display: block;
    font-family: 'Lalezar';
    margin-top: 8px;
}

form > input {
    font-family: 'Lalezar';
    outline: 0;
}

input:focus {
    border: .0625em solid #0a3464 
}

/* =============================== BUTTONS & IMG ============================== */
.button {
    display: inline-block;
    color: #ffffff;
    border: 0;
    margin: 0.5em;
    padding: 1em 2em;
    width: 150px;
    font-family: 'Lalezar';
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    background-color: #0a3464;
}

.delete {
    background-color: #f42400;
    width: 213px;
}

.loginButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profileEdit {
    width: 200px;
}

img {
    width: 40%;
}

/* =============================== ARTICLE ============================== */
article {
    min-width: 20em;
    max-width: 20em;
    min-height: 20em;
    max-height: 20em;
    margin: 2em auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

article p {
    color: #f42400;
    margin-left: 15px;
    align-self: flex-start;
}

article p:first-child {
    font-size: 1.3em;
    font-weight: bold;
}

/* =============================== FOOTER ============================== */
footer {
    background-color: #ecf0f1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem; 
}

footer nav ul { 
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-left: -20px;
    margin-top: 5px;
}

footer nav ul li a {
    color: #000000
}

footer nav ul li a:active {
    color: #f42400
}

footer nav ul li a:hover {
    color: #ffffff
}