* {
    margin: 0;
    font-family: 'Lalezar';
}

header {
    background-color: #0a3464;
    height: 4em;
}

h1 {
    color: #ffffff;
    text-align: center;
    height: 50%;
}

body {
    background-color: red;
}

body > section {
    text-align: center;
}
